<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:tools="http://schemas.android.com/tools"
      android:installLocation="auto">
    <supports-screens android:largeScreens="true"
                      android:anyDensity="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
                     tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- Needed on Android 11+ to discover external chess engine APKs
         that declare the Open Exchange (OEX) intent filter. Without this,
         PackageManager.queryIntentActivities() returns an empty list. -->
    <queries>
        <intent>
            <action android:name="intent.chess.provider.ENGINE" />
        </intent>
    </queries>

    <application android:name="org.petero.droidfish.DroidFishApp"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:theme="@style/AppTheme"
                 android:label="@string/app_name"
                 android:allowBackup="true"
                 android:requestLegacyExternalStorage="true"
                 android:resizeableActivity="true">
        <activity android:name=".DroidFish"
                  android:label="@string/app_name"
                  android:theme="@style/MainActivityTheme"
                  android:exported="true"
                  android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-chess-pgn" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\.pgn"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\.pgn"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\.pgn"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\.pgn"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.pgn"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.pgn"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.pgn"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pgn"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.pgn"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\.fen"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\.fen"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\.fen"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\.fen"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.fen"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.fen"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.fen"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.fen"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.fen"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\.fen"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\.fen"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\.fen"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\.fen"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.fen"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.fen"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.fen"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.fen"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.fen"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\.epd"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\.epd"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\.epd"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\.epd"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.epd"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.epd"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.epd"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.epd"/>
                <data android:mimeType="text/plain" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.epd"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\.epd"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\.epd"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\.epd"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\.epd"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.epd"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.epd"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.epd"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.epd"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.epd"/>
                </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-chess-pgn" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-chess-fen" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-chess-fen" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\.chessuci"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\.chessuci"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\.chessuci"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\.chessuci"/>
                <data android:mimeType="application/octet-stream" android:scheme="file" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.chessuci"/>
                <data android:mimeType="application/octet-stream" android:scheme="content" android:host="*" android:pathPattern=".*\\.chessuci"/>
                <data android:mimeType="application/octet-stream" android:scheme="content" android:host="*" android:pathPattern=".*\\..*\\.chessuci"/>
                <data android:mimeType="application/octet-stream" android:scheme="content" android:host="*" android:pathPattern=".*\\..*\\..*\\.chessuci"/>
                <data android:mimeType="application/octet-stream" android:scheme="content" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\.chessuci"/>
                <data android:mimeType="application/octet-stream" android:scheme="content" android:host="*" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.chessuci"/>
                <data android:mimeType="application/json" android:scheme="file" android:host="*" android:pathPattern=".*\\.chessuci"/>
                <data android:mimeType="application/json" android:scheme="content" android:host="*" android:pathPattern=".*\\.chessuci"/>
            </intent-filter>
            </activity>
        <activity android:name=".activities.Preferences"
                  android:label="@string/preferences"
                  android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize">
        </activity>
        <activity android:name=".activities.EditBoard"
                  android:label="@string/edit_board"
                  android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize">
        </activity>
        <activity android:name=".activities.EditPGNLoad"
                  android:label="@string/load_game_title"
                  android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize">
        </activity>
        <activity android:name=".activities.EditPGNSave"
                  android:label="@string/save_game_title"
                  android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize">
        </activity>
        <activity android:name=".activities.LoadScid"
                  android:label="@string/load_scid_game_title"
                  android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize">
        </activity>
        <activity android:name=".activities.LoadFEN"
                  android:label="@string/load_fen_title"
                  android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize">
        </activity>
        <activity android:name=".activities.CPUWarning"
                  android:label="@string/cpu_warning_title">
        </activity>
        <activity android:name=".activities.EditOptions"
                  android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize">
        </activity>
        <activity android:name=".activities.NetworkEngineConfig"
                  android:label="@string/net_config_title"
                  android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize">
        </activity>
        <activity android:name=".activities.OpeningExplorerActivity"
                  android:label="@string/opening_explorer_title"
                  android:exported="false"
                  android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize">
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.petero.droidfish.custom.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>
        <meta-data android:name="android.max_aspect" android:value="4.0"/>
        <meta-data android:name="com.samsung.android.keepalive.density" android:value="true"/>
    </application>
</manifest>
